<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookreader.data.book.ShelfMapper">
    <insert id="addBookToShelf">

    </insert>
    <delete id="removeBookFromShelf">

    </delete>
    <select id="getUserShelf" >

    </select>
    <update id="updateMark">

    </update>
    <update id="updateProcess">

    </update>

</mapper>